<form class=" search-form ">
      <div >
        <label for="searchQuery"></label>
        <input
          type="text"
          
          name="query"
          id="searchQuery"
          placeholder="Search images..."
          autocomplete="off"
        />
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    
<div class="gallery">
      <!-- Картинки -->
    </div>

    <button
      type="button"
      class="load-more"
      data-action="load-more"
    >
      <span
        class="is-hidden"
        role="status"
        aria-hidden="true"
      ></span>

      <span >Load more</span>
    </button>